div(ng-include='"components/navbar/navbar.html"')

.container
	.page-header
		h2
			i.fa.fa-magic
			= ' Inspiration - '
			a(href="http://polymer-project.org/") Polymer Project

	h3 Dependencies
	.list-group.row
		a.list-group-item.col-md-4.col-sm-6(href="http://www.angularjs.org/") <i class="fa fa-plug"></i> Angular.js
		a.list-group-item.col-md-4.col-sm-6(href="http://angular-ui.github.io/bootstrap/") <i class="fa fa-plug"></i> UI Bootstrap
		a.list-group-item.col-md-4.col-sm-6(href="http://angular-ui.github.io/ng-grid/") <i class="fa fa-plug"></i> ng-grid
		a.list-group-item.col-md-4.col-sm-6(href="http://www.highcharts.com/") <i class="fa fa-plug"></i> Highcharts
		a.list-group-item.col-md-4.col-sm-6(href="http://jquery.com/") <i class="fa fa-plug"></i> jQuery
		a.list-group-item.col-md-4.col-sm-6(href="http://lodash.com/") <i class="fa fa-plug"></i> Lo-Dash
		a.list-group-item.col-md-4.col-sm-6(href="http://momentjs.com/") <i class="fa fa-plug"></i> Moment.js

	h3 Generator
	p Demo app scaffold via
		= ' '
		a(href='https://github.com/DaftMonk/generator-angular-fullstack') AngularJS Full-Stack generator