div(ng-include='"components/navbar/navbar.html"')

.container
	h2
		i.fa.fa-magic
		= ' Inspiration - '
		a(href="http://polymer-project.org/")
			img(src="http://www.polymer-project.org/images/logos/lockup.svg")

	h3 Dependencies
	.list-group.row
		a.list-group-item.col-md-4.col-sm-6(href="http://www.angularjs.org/") <i class="fa fa-plug"></i> Angular.js
		a.list-group-item.col-md-4.col-sm-6(href="http://angular-ui.github.io/bootstrap/") <i class="fa fa-plug"></i> UI Bootstrap
		a.list-group-item.col-md-4.col-sm-6(href="http://ui-grid.info/") <i class="fa fa-plug"></i> UI Grid
		a.list-group-item.col-md-4.col-sm-6(href="http://www.highcharts.com/") <i class="fa fa-plug"></i> Highcharts
		a.list-group-item.col-md-4.col-sm-6(href="http://jquery.com/") <i class="fa fa-plug"></i> jQuery
		a.list-group-item.col-md-4.col-sm-6(href="http://lodash.com/") <i class="fa fa-plug"></i> Lo-Dash
		a.list-group-item.col-md-4.col-sm-6(href="http://momentjs.com/") <i class="fa fa-plug"></i> Moment.js
		a.list-group-item.col-md-4.col-sm-6(href="http://getbootstrap.com/") <i class="fa fa-plug"></i> Bootstrap
		a.list-group-item.col-md-4.col-sm-6(href="http://fortawesome.github.io/Font-Awesome/") <i class="fa fa-plug"></i> Font Awesome

	h3 Generator
	p Demo app scaffold via
		= ' '
		a(href='https://github.com/DaftMonk/generator-angular-fullstack') AngularJS Full-Stack generator